<h1 class="text-center">split-columns Layout</h1>
<div class="keen-dashboard">

  <div class="container grid grid-split-columns">
    <div class="grid-split">
      <div class="chart-wrapper">
        <div class="chart-title">
          Cell Title
        </div>
        <div class="chart-stage">
          <img data-src="holder.js/100px120?theme=white">
        </div>
        <div class="chart-notes">
          Notes about this chart
        </div>
      </div>
      <div class="chart-wrapper">
        <div class="chart-title">
          Cell Title
        </div>
        <div class="chart-stage">
          <img data-src="holder.js/100px120?theme=white">
        </div>
        <div class="chart-notes">
          Notes about this chart
        </div>
      </div>
      <div class="chart-wrapper">
        <div class="chart-title">
          Cell Title
        </div>
        <div class="chart-stage">
          <img data-src="holder.js/100px240?theme=white">
        </div>
        <div class="chart-notes">
          Notes about this chart
        </div>
      </div>
      <div class="chart-wrapper">
        <div class="chart-title">
          Cell Title
        </div>
        <div class="chart-stage">
          <img data-src="holder.js/100px240?theme=white">
        </div>
        <div class="chart-notes">
          Notes about this chart
        </div>
      </div>
    </div>
    <div class="chart-wrapper">
      <div class="chart-title">
        Cell Title
      </div>
      <div class="chart-stage">
        <img data-src="holder.js/100px120?theme=white">
      </div>
      <div class="chart-notes">
        Notes about this chart
      </div>
    </div>
    <div class="chart-wrapper">
      <div class="chart-title">
        Cell Title
      </div>
      <div class="chart-stage">
        <img data-src="holder.js/100px120?theme=white">
      </div>
      <div class="chart-notes">
        Notes about this chart
      </div>
    </div>
    <div class="chart-wrapper">
      <div class="chart-title">
        Cell Title
      </div>
      <div class="chart-stage">
        <img data-src="holder.js/100px120?theme=white">
      </div>
      <div class="chart-notes">
        Notes about this chart
      </div>
    </div>
    <div class="chart-wrapper">
      <div class="chart-title">
        Cell Title
      </div>
      <div class="chart-stage">
        <img data-src="holder.js/100px120?theme=white">
      </div>
      <div class="chart-notes">
        Notes about this chart
      </div>
    </div>
  </div>

</div>
