<h1 class="text-center">quarters-grid Layout</h1>
<div class="keen-dashboard">
  <div class="container grid grid-quarter">
    <div class="chart-wrapper">
      <div class="chart-title">
        Cell Title
      </div>
      <div class="chart-stage">
        <div id="grid-1-1">
          <img data-src="holder.js/100px130?theme=white&&text=#grid-1-1">
        </div>
      </div>
      <div class="chart-notes">
        Notes about this chart
      </div>
    </div>
    <div class="chart-wrapper">
      <div class="chart-title">
        Cell Title
      </div>
      <div class="chart-stage">
        <img data-src="holder.js/100px130?theme=white">
      </div>
      <div class="chart-notes">
        Notes about this chart
      </div>
    </div>
    <div class="chart-wrapper">
      <div class="chart-title">
        Cell Title
      </div>
      <div class="chart-stage">
        <img data-src="holder.js/100px130?theme=white">
      </div>
      <div class="chart-notes">
        Notes about this chart
      </div>
    </div>
    <div class="chart-wrapper">
      <div class="chart-title">
        Cell Title
      </div>
      <div class="chart-stage">
        <img data-src="holder.js/100px130?theme=white">
      </div>
      <div class="chart-notes">
        Notes about this chart
      </div>
    </div>
    <div class="chart-wrapper">
      <div class="chart-title">
        Cell Title
      </div>
      <div class="chart-stage">
        <img data-src="holder.js/100px130?theme=white">
      </div>
      <div class="chart-notes">
        Notes about this chart
      </div>
    </div>
    <div class="chart-wrapper">
      <div class="chart-title">
        Cell Title
      </div>
      <div class="chart-stage">
        <img data-src="holder.js/100px130?theme=white">
      </div>
      <div class="chart-notes">
        Notes about this chart
      </div>
    </div>
    <div class="chart-wrapper">
      <div class="chart-title">
        Cell Title
      </div>
      <div class="chart-stage">
        <img data-src="holder.js/100px130?theme=white">
      </div>
      <div class="chart-notes">
        Notes about this chart
      </div>
    </div>
    <div class="chart-wrapper">
      <div class="chart-title">
        Cell Title
      </div>
      <div class="chart-stage">
        <img data-src="holder.js/100px130?theme=white">
      </div>
      <div class="chart-notes">
        Notes about this chart
      </div>
    </div>
    <div class="chart-wrapper">
      <div class="chart-title">
        Cell Title
      </div>
      <div class="chart-stage">
        <img data-src="holder.js/100px130?theme=white">
      </div>
      <div class="chart-notes">
        Notes about this chart
      </div>
    </div>
    <div class="chart-wrapper">
      <div class="chart-title">
        Cell Title
      </div>
      <div class="chart-stage">
        <img data-src="holder.js/100px130?theme=white">
      </div>
      <div class="chart-notes">
        Notes about this chart
      </div>
    </div>
    <div class="chart-wrapper">
      <div class="chart-title">
        Cell Title
      </div>
      <div class="chart-stage">
        <img data-src="holder.js/100px130?theme=white">
      </div>
      <div class="chart-notes">
        Notes about this chart
      </div>
    </div>
    <div class="chart-wrapper">
      <div class="chart-title">
        Cell Title
      </div>
      <div class="chart-stage">
        <img data-src="holder.js/100px130?theme=white">
      </div>
      <div class="chart-notes">
        Notes about this chart
      </div>
    </div>
    <div class="chart-wrapper">
      <div class="chart-title">
        Cell Title
      </div>
      <div class="chart-stage">
        <img data-src="holder.js/100px130?theme=white">
      </div>
      <div class="chart-notes">
        Notes about this chart
      </div>
    </div>
    <div class="chart-wrapper">
      <div class="chart-title">
        Cell Title
      </div>
      <div class="chart-stage">
        <img data-src="holder.js/100px130?theme=white">
      </div>
      <div class="chart-notes">
        Notes about this chart
      </div>
    </div>
    <div class="chart-wrapper">
      <div class="chart-title">
        Cell Title
      </div>
      <div class="chart-stage">
        <img data-src="holder.js/100px130?theme=white">
      </div>
      <div class="chart-notes">
        Notes about this chart
      </div>
    </div>
    <div class="chart-wrapper">
      <div class="chart-title">
        Cell Title
      </div>
      <div class="chart-stage">
        <img data-src="holder.js/100px130?theme=white">
      </div>
      <div class="chart-notes">
        Notes about this chart
      </div>
    </div>
  </div>
</div>
