<hr>
<div class="container-fluid">
  <div class="wrapper">
    <div class="section">
        <app-kpi-cards></app-kpi-cards>
    </div>
    <div class="section">
      <app-here-map #map appId="AkkFpIuUjNRODHJuwetv" appCode="dppegaQCPHLJDP9HEj-LKw"></app-here-map>
    </div>
  </div>
</div>


  <div class="container-fluid">
  <hr>
  <app-quarter-grid></app-quarter-grid><hr>
  <app-thirds-grid></app-thirds-grid><hr>
  <app-hero-thirds></app-hero-thirds><hr>
  <app-split-centered></app-split-centered><hr>
  <app-split-columns></app-split-columns><hr>
  <app-split-rows></app-split-rows><hr>
  <app-hero-sidebar></app-hero-sidebar><hr>
  <app-two-and-one></app-two-and-one><hr>
</div>
