<h1 class="text-center">split-centered Layout</h1>
<div class="keen-dashboard">

  <div class="container grid grid-split-centered">
    <div class="grid-split">
      <div class="grid-split-column">
        <div class="chart-wrapper">
          <div class="chart-title">
            Cell Title
          </div>
          <div class="chart-stage">
            <img data-src="holder.js/100px120?theme=white">
          </div>
          <div class="chart-notes">
            Notes about this chart
          </div>
        </div>
        <div class="chart-wrapper">
          <div class="chart-title">
            Cell Title
          </div>
          <div class="chart-stage">
            <img data-src="holder.js/100px120?theme=white">
          </div>
          <div class="chart-notes">
            Notes about this chart
          </div>
        </div>
      </div>
      <div class="grid-split-column grid-split-column--centered">
        <div class="chart-wrapper">
          <div class="chart-title">
            Cell Title
          </div>
          <div class="chart-stage">
            <img data-src="holder.js/100px325?theme=white">
          </div>
          <div class="chart-notes">
            Notes about this chart
          </div>
        </div>
      </div>
      <div class="grid-split-column">
        <div class="chart-wrapper">
          <div class="chart-title">
            Cell Title
          </div>
          <div class="chart-stage">
            <img data-src="holder.js/100px120?theme=white">
          </div>
          <div class="chart-notes">
            Notes about this chart
          </div>
        </div>
        <div class="chart-wrapper">
          <div class="chart-title">
            Cell Title
          </div>
          <div class="chart-stage">
            <img data-src="holder.js/100px120?theme=white">
          </div>
          <div class="chart-notes">
            Notes about this chart
          </div>
        </div>
      </div>
    </div>

    <div class="chart-wrapper">
      <div class="chart-title">
        Cell Title
      </div>
      <div class="chart-stage">
        <img data-src="holder.js/100px120?theme=white">
      </div>
      <div class="chart-notes">
        Notes about this chart
      </div>
    </div>
    <div class="chart-wrapper">
      <div class="chart-title">
        Cell Title
      </div>
      <div class="chart-stage">
        <img data-src="holder.js/100px120?theme=white">
      </div>
      <div class="chart-notes">
        Notes about this chart
      </div>
    </div>
    <div class="chart-wrapper">
      <div class="chart-title">
        Cell Title
      </div>
      <div class="chart-stage">
        <img data-src="holder.js/100px120?theme=white">
      </div>
      <div class="chart-notes">
        Notes about this chart
      </div>
    </div>
    <div class="chart-wrapper">
      <div class="chart-title">
        Cell Title
      </div>
      <div class="chart-stage">
        <img data-src="holder.js/100px120?theme=white">
      </div>
      <div class="chart-notes">
        Notes about this chart
      </div>
    </div>
    <div class="chart-wrapper">
      <div class="chart-title">
        Cell Title
      </div>
      <div class="chart-stage">
        <img data-src="holder.js/100px120?theme=white">
      </div>
      <div class="chart-notes">
        Notes about this chart
      </div>
    </div>
    <div class="chart-wrapper">
      <div class="chart-title">
        Cell Title
      </div>
      <div class="chart-stage">
        <img data-src="holder.js/100px120?theme=white">
      </div>
      <div class="chart-notes">
        Notes about this chart
      </div>
    </div>
  </div>

</div>
